#data
FT_speechdata.csv

full_df.pkl

clean_df.pkl

full_df.csv

df_sentiment.csv

final_df.csv

final_df.pkl

df_sentiment_short_comment.csv

.RDataTmp

sentiment_total_verification.csv

sentiment_total_verification_coded.csv

sentiment_verification.csv

sentiment_verification_coded.csv

sentiment_verification_with_code.csv

short_comment_df.csv

tables_tex.csv